body {
  overflow: scroll; }

#header {
  background-color: #620012;
  height: 45px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 10; }

.title-bar-title {
  color: #fff;
  padding: 10px; }

#main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

#splash {
  background: url("../images/splash.jpg"); }

.map-container {
  margin-top: 45px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .map-container #map {
    width: calc(100vmin - (10px * 4));
    height: calc(100vmin - (10px * 4)); }
    .map-container #map.hide {
      display: none; }

#app {
  width: 100vw;
  margin-top: 45px; }
  #app > * {
    width: 100vw;
    display: flex;
    flex-direction: column; }
    #app > * > *:not(a) {
      width: 100vw; }
    #app > * > * {
      flex-grow: 1; }

#footer {
  background-color: #620012;
  flex-grow: 1; }
  #footer p {
    color: #fff;
    padding: 5px;
    margin: 0;
    text-align: center; }
