body {
  background-color: #fbebed; }

#wrap {
  min-height: calc(100vh - (115px)); }

#header {
  height: 60px;
  position: fixed;
  color: #fff;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10; }
  #header nav.navbar {
    background-color: #003260;
    max-height: 60px;
    width: 100vw;
    margin: 0; }
  #header .navbar-header {
    width: 100%;
    height: 60px;
    padding: 0; }
    #header .navbar-header div.container-fluid {
      display: none; }
    #header .navbar-header .hamburger {
      margin: 0 10px 0 0;
      float: right;
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: 60px; }
      #header .navbar-header .hamburger .dropdown-menu {
        position: absolute;
        right: 0;
        left: calc(100vw - 150px); }

form {
  margin-bottom: 20px; }

.logo {
  height: 35px;
  width: 35px;
  margin: 0 5px; }

.navbar-brand span {
  color: #fff;
  font-weight: 500; }

.glyphicon {
  font-size: 2em;
  color: #fff; }

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center; }

#main {
  height: 100%; }

.splash {
  min-height: calc(100vh - (115px));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("../images/splash.jpg");
  background-repeat: no-repeat;
  color: #fff; }
  .splash .splash-map {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-bottom: 20px; }
  .splash h1 {
    font-size: 2.5em; }
  .splash p {
    font-size: 2em;
    text-align: center;
    text-shadow: 2px 2px #000; }
  .splash button {
    margin-top: 20px;
    padding: 20px 30px;
    font-size: 1.5em; }

.dash {
  padding: 0 20px 20px 20px; }
  .dash .user-details {
    display: flex;
    flex-direction: row; }
    .dash .user-details .profile-image {
      width: 60px;
      height: 60px;
      margin: 20px 20px 0 0; }
    .dash .user-details ul.badges {
      margin: 20px 0 0 0;
      padding: 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between; }
      .dash .user-details ul.badges li.badge {
        background-color: transparent;
        padding: 0;
        margin-right: 10px; }
        .dash .user-details ul.badges li.badge .badge-count {
          height: 32px;
          width: 40px;
          background-size: contain;
          background-repeat: no-repeat;
          display: flex;
          justify-content: flex-end; }
          .dash .user-details ul.badges li.badge .badge-count span.quantity {
            background-color: black;
            border-radius: 50%;
            flex-shrink: 1;
            width: 18px;
            height: 18px;
            display: flex;
            flex-direction: column;
            justify-content: center; }

.form-control {
  margin-bottom: 20px; }

.map-container {
  margin-top: 60px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .map-container #map {
    width: calc(100vmin - (10px * 4));
    height: calc(100vmin - (10px * 4)); }
    .map-container #map.hide {
      display: none; }

#app {
  width: 100vw;
  margin-top: 60px; }
  #app > * {
    width: 100vw;
    display: flex;
    flex-direction: column; }
    #app > * > *:not(a) {
      width: 100vw; }
    #app > * > * {
      flex-grow: 1; }

#footer {
  background-color: #003260;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center; }
  #footer p {
    color: #fff;
    margin: 0; }

ul.route-list {
  padding: 0; }
  ul.route-list > li:first-child {
    font-weight: bold; }
  ul.route-list > li {
    margin-bottom: 5px; }
    ul.route-list > li a.btn {
      padding: 3px 10px; }
  ul.route-list ul.route {
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-between; }
    ul.route-list ul.route li {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      ul.route-list ul.route li.date {
        color: #0032aa; }
      ul.route-list ul.route li.status {
        color: #600032;
        font-size: 2rem; }
  ul.route-list li {
    list-style: none;
    width: 100%; }

.new-route, .route-details, .settings {
  padding: 0 10px; }
  .new-route:not(.settings), .route-details:not(.settings), .settings:not(.settings) {
    margin-top: -50px; }
  .new-route.settings, .route-details.settings, .settings.settings {
    margin-top: 10px; }
  .new-route .bar-list, .route-details .bar-list, .settings .bar-list {
    padding: 0; }
    .new-route .bar-list :first-child, .route-details .bar-list :first-child, .settings .bar-list :first-child {
      font-weight: bold; }
  .new-route form, .route-details form, .settings form {
    display: flex;
    flex-wrap: wrap; }
    .new-route form input, .route-details form input, .settings form input {
      width: 100%; }
    .new-route form *, .route-details form *, .settings form * {
      flex-shrink: 0; }
    .new-route form :not(input), .route-details form :not(input), .settings form :not(input) {
      margin-right: 10px; }

.bar-status {
  margin-bottom: 4px; }
  .bar-status button {
    padding: 3px 10px;
    margin-right: 10px; }

.loading {
  margin-top: 60px;
  padding-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh; }
  .loading i {
    font-size: 10rem; }

.done-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 180px;
  font-weight: 600; }
  .done-container img {
    width: 100px;
    height: 100px;
    margin: 20px 0 60px; }
  .done-container .btn {
    background-color: #171718;
    color: #fff;
    font-size: 3em;
    padding: 35px 70px; }

.win {
  color: #0eaa35; }

.fail {
  color: #5f5f60; }

.modal-body textarea {
  width: 100%;
  resize: none; }

.completeBadgeContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: space-around;
  width: 100%; }
  .completeBadgeContainer div {
    width: 50%;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center; }

figure.completeBadge {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%; }
  figure.completeBadge img {
    width: 75px;
    height: 75px;
    margin: 0; }
  figure.completeBadge figcaption {
    font-size: 1.2em;
    text-align: center;
    margin-top: 2px; }

.forfeit-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end; }
