$header-height: 60px;
$map-pad: 10px;
$footer-height: 55px;

body {
  background-color: #fbebed;
}

#wrap {
  min-height: calc(100vh - (#{$footer-height + $header-height}));
}

#header {
  height: $header-height;
  position: fixed;
  color: #fff;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  nav.navbar {
    border-radius: 0;
    background-color: #003260;
    max-height: $header-height;
    width: 100vw;
    margin: 0;
  }
  .navbar-header {
    width: 100%;
    height: $header-height;
    padding: 0;
    div.container-fluid {
      display: none;
    }
    .hamburger {
      margin: 0 10px 0 0;
      float: right;
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: $header-height;
      .dropdown-menu {
        position: absolute;
        right: 0;
        left: calc(100vw - 150px);
      }
    }
  }
}

form {
  margin-bottom: 20px;
}

.logo {
  height: 35px;
  width: 35px;
  margin: 0 5px;
}

.navbar-brand span {
  color: #fff;
  font-weight: 500;
}

.glyphicon {
  font-size: 2em;
  color: #fff;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

#main {
  height: 100%;
}

.splash {
  min-height: calc(100vh - (#{$header-height + $footer-height}));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url('../images/splash.jpg');
  background-repeat: no-repeat;
  color: #fff;
  .splash-map {
    margin-top: 20px;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  .image-container {
    img {
      width: 100%;
      height: auto;
    }
  }
  p {
    font-size: 1.75em;
    text-align: center;
    text-shadow: 2px 2px #000;
  }
  button {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px 30px;
    font-size: 1.5em;
  }
}

.dash {
  padding: 0 20px 20px 20px;
  .user-details {
    display: flex;
    flex-direction: row;
    .profile-image {
      width: 60px;
      height: 60px;
      // border-radius: 50%;
      margin: 20px 20px 0 0;
    }
    ul.badges {
      margin: 20px 0 0 0;
      padding: 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      li.badge {
        background-color: rgba(0, 0, 0, 0);
        padding: 0;
        margin-right: 10px;
        .badge-count {
          height: 32px;
          width: 40px;
          background-size: contain;
          background-repeat: no-repeat;
          display: flex;
          justify-content: flex-end;
          span.quantity {
            background-color: black;
            border-radius: 50%;
            flex-shrink: 1;
            width: 18px;
            height: 18px;
            display: flex;
            flex-direction: column;
            justify-content: center;
          }
        }
      }
    }
  }
}

.form-control {
  margin-bottom: 20px;
}

.map-container {
  margin-top: $header-height;
  padding: $map-pad;
  display: flex;
  justify-content: center;
  align-items: center;
  #map {
    width: calc(100vmin - (#{$map-pad} * 4));
    height: calc(100vmin - (#{$map-pad} * 4));
    &.hide {
      display: none;
    }
  }
}

#app {
  width: 100vw;
  margin-top: $header-height;
  & > * {
    width: 100vw;
    display: flex;
    flex-direction: column;
    & > *:not(a) {
      width: 100vw;
    }
    & > * {
      flex-grow: 1;
    }
  }
}

#footer {
  background-color: #003260;
  height: $footer-height;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    color: #fff;
    margin: 0;
  }
}

ul.route-list {
  padding: 0;
  & > li:first-child {
    font-weight: bold;
  }
  & > li {
    margin-bottom: 5px;
    a.btn {
      padding: 3px 10px;
    }
  }
  ul.route {
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    li {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      &.date {
        color: #0032aa;
      }
      &.status {
        color: #600032;
        font-size: 2rem;
      }
    }
  }
  li {
    list-style: none;
    width: 100%;
  }
}

.new-route, .route-details, .settings {
  padding: 0 10px;
  &:not(.settings) {
    margin-top: -50px;
  }
  &.settings {
    margin-top: 10px;
  }
  .bar-list {
    padding: 0;
    :first-child {
      font-weight: bold;
    }
    .bar-name {
      color: blue;
      font-size: 120%;
    }
  }
  form {
    display: flex;
    flex-wrap: wrap;
    input {
      width: 100%;
    }
    * {
      flex-shrink: 0;
    }
    :not(input) {
      margin-right: 10px;
    }
  }
}

.bar-status {
  margin-bottom: 4px;
  p {
    margin: 0;
  }
  button {
    padding: 3px 10px;
    margin-right: 10px;
  }
}

.loading {
  margin-top: $header-height;
  padding-top: $header-height;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  i {
    font-size: 10rem;
  }
}

.done-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 180px;
  font-weight: 600;

  img {
    width: 100px;
    height: 100px;
    margin: 20px 0 60px;
  }
}

.win {
  color:#0eaa35;
}

.fail {
  color:#5f5f60;
}

.modal-body {
  textarea {
    width: 100%;
    resize: none;
  }
}

.completeView {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.completeBadgeContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: space-around;
  width: 100%;
  div{
    width: 50%;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

figure.completeBadge{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 5px;
  img{
    width: 75px;
    height: 75px;
    margin: 0;
  }

  figcaption{
    text-align: center;
    margin-top: 2px;
    :not(.badge-description) {
      font-size: 1.2em;
    }
    .badge-description {
      font-size: 0.8em;
      width: 100%;
    }
  }
}

.btn-badge-tweet {
  margin-top: 30px;
}

.forfeit-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.beer-rating {
  padding: 0;
  display: flex;
  flex-direction: row;
  & > *:first-child {
    margin-right: 10px;
  }
  li {
    list-style: none;
  }
  .part-beer, .full-beer {
    position: relative;
    .beer {
      margin: 0 17% 27% 47%;
      border-radius: 0 0 30% 30%;
      position: absolute;
      bottom: 0;
      width: 36%;
      z-index: 1;
      background-color: gold;
    }
    i {
      font-size: 1.5em;
      -webkit-text-stroke: 1px black;
      color: #fff;
    }
  }
}
