$header-height: 45px;
$map-pad: 10px;

body {
  overflow: scroll;
}

#header {
  height: $header-height;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 10;
}

// ul {
//   list-style: none;
// }
//
// nav {
//   display: flex;
// }

.logo {
  padding: 3px;
}

// .top-bar {
//   background-color: #620012;
//   color: #fff;
//   font-size: 1.5em;
//   font-weight: 600;
//   margin: 5px;
// }

// .menu-icon {
//   float: right;
// }

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 89vh;
  background-color:#fbebed;
}

.splash {
  min-height: 89vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url('../images/splash.jpg');

  .splash-map {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-bottom: 20px;
  }
}

.dash {
  padding: 20px;
}

.profile-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 20px;
}

.map-container {
  margin-top: $header-height;
  padding: $map-pad;
  display: flex;
  justify-content: center;
  align-items: center;
  #map {
    width: calc(100vmin - (#{$map-pad} * 4));
    height: calc(100vmin - (#{$map-pad} * 4));
    &.hide {
      display: none;
    }
  }
}

#app {
  width: 100vw;
  margin-top: $header-height;
  & > * {
    width: 100vw;
    display: flex;
    flex-direction: column;
    & > *:not(a) {
      width: 100vw;
    }
    & > * {
      flex-grow: 1;
    }
  }
}

#footer {
  background-color: #620012;
  flex-grow: 1;
  p {
    color: #fff;
    padding: 5px;
    margin: 0;
    text-align: center;
  }
}
