$header-height: 60px;
$map-pad: 10px;

// html {
//   height: 100vh;
//   body {
//     overflow: scroll;
//   }
// }

body {
  background-color: #fbebed;
}

#wrap {
  max-height: 90vh;
  height: auto;
  // margin: 0 auto -50px;
  padding: 0 0 50px;
}

#header {
  height: $header-height;
  // max-height: 100%;
  position: fixed;
  color: #fff;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  nav.navbar {
    background-color: #003260;
    max-height: $header-height;
    width: 100vw;
    margin: 0;
  }
  .navbar-header {
    width: 100%;
    height: $header-height;
    padding: 0;
    div.container-fluid {
      display: none;
    }
    .hamburger {
      margin: 0 10px 0 0;
      float: right;
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: $header-height;
      .dropdown-menu {
        position: absolute;
        right: 0;
        left: calc(100vw - 150px);
      }
    }
  }
}

// .btn {
//   margin: 20px;
// }

form {
  margin-bottom: 20px;
}

.logo {
  height: 35px;
  width: 35px;
  margin: 0 5px;
}

.navbar-brand span {
  color: #fff;
  font-weight: 500;
}

.glyphicon {
  font-size: 2em;
  color: #fff;
}

main {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  min-height: 100%;
  // background-color: #fbebed;
}

.splash {
  min-height: 88vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url('../images/splash.jpg');
  background-size: cover;
  margin-top: -20px;
  .splash-map {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-bottom: 20px;
  }
}

.dash {
  padding: 0 20px 20px 20px;
  & .profile-image {
    width: 60px;
    height: 60px;
    // border-radius: 50%;
    margin: 20px 20px 20px 0;
  }
  & > p {
    display: inline;
  }
}

.form-control {
  margin-bottom: 20px;
}

.map-container {
  margin-top: $header-height;
  padding: $map-pad;
  display: flex;
  justify-content: center;
  align-items: center;
  #map {
    width: calc(100vmin - (#{$map-pad} * 4));
    height: calc(100vmin - (#{$map-pad} * 4));
    &.hide {
      display: none;
    }
  }
}

#app {
  width: 100vw;
  margin-top: $header-height;
  & > * {
    width: 100vw;
    display: flex;
    flex-direction: column;
    & > *:not(a) {
      width: 100vw;
    }
    & > * {
      flex-grow: 1;
    }
  }
}

#footer {
  background-color: #003260;
  min-height: 50px;
  max-height: 100%;
  p {
    color: #fff;
    padding: 5px;
    margin: 0;
    text-align: center;
  }
}

ul.route-list {
  padding: 0;
  & > li:first-child {
    font-weight: bold;
  }
  & > li {
    margin-bottom: 5px;
    a.btn {
      padding: 3px 10px;
    }
  }
  ul.route {
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    li {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      &.date {
        color: #0032aa;
      }
      &.status {
        color: #600032;
      }
    }
  }
  li {
    list-style: none;
    width: 100%;
  }
}

.new-route {
  padding: 0 10px;
  form {
    margin-top: -50px;
    display: flex;
    flex-wrap: wrap;
    input {
      width: 100%;
      // display: block;
    }
    * {
      flex-shrink: 0;
    }
    :not(input) {
      margin-right: 10px;
    }
  }
  .bar-list {
    padding: 0;
    :first-child {
      font-weight: bold;
    }
  }
}
